.progress-bar {
  background-color: rgb(219, 219, 219);
  height: 19px;
}
.progress-bar .progress {
  background-color: rgb(207, 69, 65);
  height: 100%;
}
.progress-bar .progress.value-10 {
	width: 10%;
}
.progress-bar .progress.value-20 {
	width: 20%;
}
.progress-bar .progress.value-30 {
	width: 30%;
}
.progress-bar .progress.value-40 {
	width: 40%;
}
.progress-bar .progress.value-50 {
	width: 50%;
}
.progress-bar .progress.value-60 {
	width: 60%;
}
.progress-bar .progress.value-70 {
	width: 70%;
}
.progress-bar .progress.value-80 {
	width: 80%;
}
.progress-bar .progress.value-90 {
	width: 90%;
}
.progress-bar .progress.value-100 {
	width: 100%;
}